:root {
    --main-color: #332E3C;
    --primary-color: #797484;
    --secondary-color: #FFF;
    --third-color: #D2462E;
    --fourth-color: #8A63C3;
    --fifth-color: #3277CA;
    --sixth-color: #4DDBC9;
    --seventh-color: #FFD3C7;
    --eighth-color: #D9D9D9;
    --ninth-color: #EFEFEF;
    --tenth-color: #999;
    --eleventh-color: #CCC;
    --twelfth-color: #F9F7F1;
    --font-family-primary: 'Figtree', sans-serif;
    --font-family-secondary: 'IBM Plex Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: unset;
}


/* ====TEXT DESKTOP==== */

.heading {
    color: var(--main-color);
}

.heading-menu {
    color: var(--primary-color);
}

.heading-primary-semiBold {
    font-family: var(--font-family-primary);
    font-weight: 600;
}

.heading-primary-regular {
    font-family: var(--font-family-primary);
    font-weight: 400;
}

.heading-secondary-Bold {
    font-family: var(--font-family-secondary);
    font-weight: 600;
}

.heading-xxl {
    font-size: 4.8rem;
}

.heading-xl {
    font-size: 3.6rem;
}

.heading-lg {
    font-size: 2.4rem;
}

.heading-md {
    font-size: 1.9rem;
}

.heading-xsm {
    font-size: 1.6rem;
}

.heading-sm {
    font-size: 1.4rem;
}

.line-height-xxlg {
    line-height: 30px;
}

.line-height-xlg {
    line-height: 28px;
}

.line-height-xmd {
    line-height: 23px;
}

.line-height-md {
    line-height: 22px;
}

.line-height-xsm {
    line-height: 21px;
}

.line-height-sm {
    line-height: 20px;
}

.txt-decoration {
    text-decoration: underline;
}


/* ====BORDER==== */

.b-solid-pg {
    border: 1px solid #999
}

.b-radius-pg {
    border-radius: 25px;
}


/* ====BUTTON==== */

.button {
    border: none;
    outline: none;
    background: inherit;
}

.button-radius {
    border-radius: 25px;
}

.button--primary {
    padding: 3px 7px;
    color: var(--main-color);
    /* background-color: var(--eighth-color); */
}

.button--secondary {
    padding: 1rem 5.9rem;
    background-color: var(--fourth-color);
}

.button--third {
    padding: 10px 50px;
    background-color: var(--ninth-color);
}

.button--fouth {
    padding: 10px 46px;
    background-color: var(--main-color);
}

.bagde {
    padding: 4px 8px;
    background-color: var(--fifth-color);
}


/* ====SECTION HEADER==== */

.section--topbar {
    background-color: var(--seventh-color);
}

.grid--item-rate {
    column-gap: 1rem;
}


/* ====SECTION MENU==== */

.section--menu {
    border-bottom: 1px solid var(--eleventh-color);
}

.grid--menu {
    width: 100%;
}

.container--header-menu {
    row-gap: 27px;
}

.form__search {
    padding: 12px 12px;
    max-width: 33rem;
    border: 1px solid var(--tenth-color);
    background-color: var(--secondary-color);
}

.input-search {
    width: 23.5rem;
    max-width: 100%;
    color: var(--tenth-color);
}

.grid--item-button {
    column-gap: 1.5rem;
}

.nav__list-menu {
    column-gap: 2rem;
}

.nav__items-menu {
    column-gap: 0.6rem;
}

.nav__menu-group:hover .nav__menu--dropdown {
    display: block;
    transition: 0.4s ease;
}

.nav__menu-group:hover .icon-dropdown-menu {
    transform: rotate(180deg);
    transition: 0.3s ease;
}

.nav__menu--dropdown {
    min-width: 15%;
    z-index: 1;
    background-color: var(--secondary-color);
    padding: 2rem 1rem 2rem 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-top: 1px dashed #bfbfbf33;
}

.nav__list-menu-dropdown {
    row-gap: 15px;
}


/* ====SECTION BANNER==== */

.container--banner-collection {
    background-image: url("../images/banner/banner-collection.jpg");
}

.grid--banner-content {
    padding-block: 29rem 6rem;
}

.button--shop-now {
    color: var(--secondary-color);
    background: rgba(0, 0, 0, 0.60);
    padding: 2.4rem 7.5rem 2.9rem 7.5rem;
    row-gap: 1rem;
}


/* ====SECTION CATEGORIES AGE==== */

.grid--group-categories {
    margin-top: 63px;
    column-gap: 44px;
    row-gap: 32px;
}

.grid--item-categories-age {
    row-gap: 21px;
}

.title-per-age {
    row-gap: 2px;
}


/* ====SECTION BANNER MAIN==== */

.section--main-background {
    background-color: var(--twelfth-color);
}

.container--banner-main {
    padding-block: 58px 60px;
}

.grid--content-banner {
    width: 100%;
    max-width: 69rem;
}

.content-banner {
    line-height: 30px;
    padding-block: 34px 55px;
}

.txt-1 {
    margin-bottom: 30px;
}

.btn-help-me {
    line-height: 30px;
    color: var(--secondary-color);
}


/* ===SECTION PRODUCT MAIN HAVE BACKGROUND=== */

.grid--product {
    gap: 30px 20px;
}

.grid--item-product {
    flex: 1 0 300px;
    row-gap: 10px;
}

.box-images {
    max-width: 100%;
    height: 30rem;
}