:root {
    --main-color: #332E3C;
    --primary-color: #797484;
    --secondary-color: #FFF;
    --third-color: #D2462E;
    --fourth-color: #8A63C3;
    --fifth-color: #3277CA;
    --sixth-color: #4DDBC9;
    --seventh-color: #FFD3C7;
    --eighth-color: #D9D9D9;
    --ninth-color: #EFEFEF;
    --tenth-color: #999;
    --eleventh-color: #CCC;
    --twelfth-color: #F9F7F1;
    --thirdteenth-color: #F5F5F5;
    --fourteenth-color: #BBB;
    --fifteenth-color: #E9EEF7;
    --sixteenth-color: #D4351C;
    --seventeenth-color: #F6F3FF;
    --font-family-primary: 'Figtree', sans-serif;
    --font-family-secondary: 'IBM Plex Sans', sans-serif;
    --swiper-navigation-size: 22px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: unset;
}


/* ====TEXT DESKTOP==== */

.heading {
    color: var(--main-color);
}

.heading-menu {
    color: var(--primary-color);
}

.heading-primary-semiBold {
    font-family: var(--font-family-primary);
    font-weight: 600;
}

.heading-primary-regular {
    font-family: var(--font-family-primary);
    font-weight: 400;
}

.heading-secondary-Bold {
    font-family: var(--font-family-secondary);
    font-weight: 600;
}

.heading-xxl {
    font-size: 4.8rem;
}

.heading-xl {
    font-size: 3.6rem;
}

.heading-lg {
    font-size: 2.4rem;
}

.heading-md {
    font-size: 1.9rem;
}

.heading-xsm {
    font-size: 1.6rem;
}

.heading-sm {
    font-size: 1.4rem;
}

.line-height-xxlg {
    line-height: 30px;
}

.line-height-xlg {
    line-height: 28px;
}

.line-height-xmd {
    line-height: 23px;
}

.line-height-md {
    line-height: 22px;
}

.line-height-xsm {
    line-height: 21px;
}

.line-height-sm {
    line-height: 20px;
}

.bagde {
    position: absolute;
    color: var(--secondary-color);
    padding: 4px 8px;
    left: 0;
    z-index: 1;
    transform: translate(10px, 10px);
}

.bagde-primary {
    background-color: var(--fifth-color);
}

.bagde-secondary {
    background-color: var(--third-color);
}


/* ====BORDER==== */

.b-solid-pg {
    border: 1px solid #999
}

.b-radius-pg {
    border-radius: 25px;
}


/* ====BUTTON==== */

.button {
    border: none;
    outline: none;
    background: inherit;
}

.button-radius {
    border-radius: 25px;
}

.button--primary {
    padding: 3px 7px;
    color: var(--main-color);
    /* background-color: var(--eighth-color); */
}

.button--secondary {
    padding: 1rem 5.9rem;
    background-color: var(--fourth-color);
}

.button--third {
    padding: 13px 50px;
    background-color: var(--ninth-color);
}

.button--fouth {
    padding: 0.75rem 0;
    background-color: var(--main-color);
}


/* ====SECTION HEADER==== */


/* .section--topbar */

.section--card-slider-1 {
    background-color: var(--seventh-color);
}

.grid--item-rate {
    column-gap: 1rem;
}

.delivery-img {
    width: 31px;
    height: 31px;
}


/* ====SECTION MENU==== */

.section--menu {
    border-bottom: 1px solid var(--eleventh-color);
}

.grid--menu {
    width: 100%;
}

.container--header-menu {
    row-gap: 27px;
}

.form__search {
    padding: 12px 12px;
    max-width: 33rem;
    border: 1px solid var(--tenth-color);
    background-color: var(--secondary-color);
}

.input-search {
    width: 23.5rem;
    max-width: 100%;
    color: var(--tenth-color);
}

.nav__list-menu {
    column-gap: 2rem;
}

.nav__items-menu {
    column-gap: 0.6rem;
}

.nav__menu-group:hover .nav__menu--dropdown {
    display: block;
    transition: 0.4s ease;
}

.nav__menu-group:hover .icon-dropdown-menu {
    transform: rotate(180deg);
    transition: 0.3s ease;
}

.nav__menu--dropdown {
    min-width: 15%;
    z-index: 1;
    background-color: var(--secondary-color);
    padding: 2rem 1rem 2rem 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-top: 1px dashed #bfbfbf33;
}

.nav__list-menu-dropdown {
    row-gap: 15px;
}


/* Menu Mobile */


/* Menu */


/* .tablet-menu-block {
    display: none;
}

.bar-menu {
    background-color: unset;
}

.nav__list-menu {
    gap: 48px;
    list-style: none;
}

.nav__link-menu {
    font-family: var(--secondary-font);
    color: var(--main-color);
    transition: var(--primary-transition);
}

.closebtn {
    color: var(--second-color);
    top: 10px;
    right: 20px;
    font-size: 35px;
    margin-left: 50px;
    background-color: unset;
} */


/* ====SECTION BANNER==== */

.container--banner-collection {
    background-image: url("../images/banner/banner-collection.jpg");
}

.grid--banner-content {
    padding-block: 29rem 6rem;
}

.button--shop-now {
    color: var(--secondary-color);
    background: rgba(0, 0, 0, 0.60);
    padding: 2.4rem 7.5rem 2.9rem 7.5rem;
    row-gap: 1rem;
}


/* ====SECTION CATEGORIES AGE==== */

.grid--group-categories {
    margin-top: 63px;
    column-gap: 20px;
    row-gap: 32px;
}

.grid--item-categories-age {
    row-gap: 21px;
}

.title-per-age {
    row-gap: 2px;
}


/* ====SECTION BANNER MAIN==== */

.section--main-background {
    background-color: var(--seventeenth-color);
}

.container--banner-main {
    padding-block: 58px 60px;
}

.grid--content-banner {
    width: 100%;
    max-width: 69rem;
}

.content-banner {
    line-height: 30px;
    padding-block: 34px 55px;
}

.txt-1 {
    margin-bottom: 30px;
}

.btn-help-me {
    line-height: 30px;
    color: var(--secondary-color);
}


/* ===SECTION PRODUCT MAIN HAVE BACKGROUND=== */

.grid--product {
    gap: 30px 20px;
}

.grid--item-product {
    flex: 1 0 300px;
    row-gap: 10px;
}

.box-images {
    max-width: 100%;
    height: 30rem;
}


/* SECTION TIP AND ADVICE MAIN HAVE NO BACKGROUND */

.section--tip-advice {
    margin-block: 40px 100px;
}

.grid--content-tips {
    margin-bottom: 32px;
}

.grid--button {
    margin-top: 35px;
}


/* SECTION OUR POPULAR CATEGORIES */

.grid--categories {
    grid-template-columns: repeat(2, 1fr);
}


/* SECTION FOOTER */

.section--footer-top {
    background-color: var(--thirdteenth-color);
}

.section--footer-bottom {
    background-color: var(--ninth-color);
}

.container--footer-bottom {
    padding-block: 15px 31px;
}

.grid--item-top-primary {
    column-gap: 16px;
}

.img-stay-in-know {
    width: 64px;
    height: 64px;
}

.item-top-primary-content {
    row-gap: 6px;
}

.txt-sign-up {
    line-height: 24px;
}

.form__sign-up {
    row-gap: 15px;
}

.input--email {
    border: 1px solid var(--tenth-color);
    background: var(--secondary-color);
    padding: 1.25rem 0 1.25rem 1.5rem;
    width: 100%;
    outline: none;
}

.input--email::placeholder {
    color: var(--tenth-color);
}

.button--submit-email {
    color: var(--secondary-color);
    /* width: 100%; */
}

.grid__footer-top {
    padding-block: 30px;
    border-bottom: 1px inset var(--fourteenth-color);
    row-gap: 20px;
}

.grid--item-about-us {
    row-gap: 10px;
}

.item-top-primary-img {
    max-width: 64px;
    max-height: 64px;
}

.item-content {
    line-height: 20px;
    row-gap: 20px;
}

.grid--item-help-information {
    row-gap: 5px;
}

.nav__list-footer {
    line-height: 34px;
}

.grid--item-get-in-touch {
    row-gap: 13px;
}

.item-contact {
    margin-top: 9px;
    row-gap: 14px;
}

.contact-group {
    column-gap: 11px;
}

.grid--item-social {
    row-gap: 10px;
    margin-bottom: 40px;
}

.item-social {
    column-gap: 20px;
}

.item-coppyright {
    max-width: 425px;
}

.grid__footer-bottom {
    row-gap: 15px;
}

.grid--item-payment-card {
    gap: 10px;
}

.group-icon-contact {
    max-width: 24px;
    max-height: 24px;
}

.group-icon-social {
    max-width: 56px;
    max-height: 56px;
}

.item-payment-card {
    max-width: 36px;
    max-height: 22px;
}

.grid__footer-medium {
    column-gap: 5rem;
}


/* ====SECTION CARD SLIDER NEW ARRIVALS==== */

.images-product {
    position: relative;
}

.name-product {
    line-height: 23px;
}

.p-block-title-slider {
    padding-block: 40px 32px;
}

.title-product {
    row-gap: 5px;
    margin-top: 10px;
}

.discount-price {
    color: var(--sixteenth-color);
}

.price-product {
    word-spacing: 5px;
}


/* Button Prev and Button Next for Slider */

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 3px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 3px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    padding-inline: 15px;
}